.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal > section {
    width: 90%;
    max-width: 400px;
    margin:0 auto;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show .3s;
    display: flex;
    background-color: rgba(var(--f23,255,255,255),1);
    border-radius: 12px;
    max-height: 100%;
    overflow: hidden;
}
.modal > section > main {
    width: 100%;
    /* border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6; */
}
.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show .1s ease-out
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}